In [83]:
import pymongo
import json
import pprint

# Setup
client = pymongo.MongoClient('mongodb://127.0.0.1:27017')

client.list_database_names()

db = client['People']

collection = db['Person']

In [ ]:
with open('Data/People.json') as json_file:
    data = json.load(json_file)
    for item in data["students"]:
        collection.insert_one(item)

In [85]:
# Those over 25
for res in collection.find({'age': {'$gt': 25}}, {'fullName', 'age'}):
    pprint.pprint(res)

{'_id': ObjectId('6733c0f2db40a04c31a55506'),
 'age': 32,
 'fullName': {'first': 'Lisa',
              'other': ['Melanie'],
              'surname': 'Penny',
              'title': 'Mrs'}}
{'_id': ObjectId('6733c0f2db40a04c31a55507'),
 'age': 38,
 'fullName': {'first': 'Lorenzo',
              'other': ['Ruelle', 'Garlen'],
              'surname': 'Dubois',
              'title': 'Mr'}}
{'_id': ObjectId('6733c0f2db40a04c31a55509'),
 'age': 27,
 'fullName': {'first': 'Tanveer',
              'other': ['Vihaan'],
              'surname': 'Patel',
              'title': 'Mr'}}

In [86]:
# Those without middle names
for res in collection.find({'fullName.other': None}, {'id'}):
    pprint.pprint(res)

{'_id': ObjectId('6733c0f2db40a04c31a55508'), 'id': 546854}

In [87]:
men_outside_tokyo = collection.count_documents({'fullName.title': 'Mr',
                                                'city': {'$not': {'$eq': 'Tokyo'}}})

women_outside_tokyo = collection.count_documents({'fullName.title': {'$not':{'$eq':'Mr'}},
                                                  'city': {'$not': {'$eq': 'Tokyo'}}})

print(f'Women outside Tokyo: {women_outside_tokyo}\nMen outside Tokyo: {men_outside_tokyo}')

Women outside Tokyo: 2
Men outside Tokyo: 2